#menu {
    width: auto;
    height: 43px;
    background: #e7e7e7;
    border: 5px solid #000000;
}

#menu li {
    float: left;
    text-align: center;
    margin-right: 20px;
    margin-left: 300px;
    margin-top: 7px;
    color: #000000;
}

input[type=text] {
    border: 1px solid #000000;
}

button {
    background-color: #000000;
    color: white;
    width: auto;
}

select {
    width: auto;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

th {
    background: #484848;
    color: white;
    padding: 10px 20px;
}

td {
    padding: 10px 20px;
    background: #e4f8e6;
    border: 2px solid #000000;
}

a {
    background-color: #464646;
    border: 4px #ffffff;
    color: #ffffff;
    width: auto;
}